<%= provide(:titulo, 'Home') %>
<div class="row">
	<br />
	<div class="span12 center">
		<h1>Usuarios pueden administrar, comunicar y participar en su comunidad de manera fácil con Cloudapolis</h1>
	</div>
</div>
<br />
<div class="row">
	<div class="span12 center">
		<%= image_tag "cloudapolis-600x403.png", class: "center"  %>
	</div>
</div>
<br />
<div class="row">
	<div class="span12 center">
		<h1>Registra gratis tu comunidad y obten 45 dias de prueba!!!</h1>
		<%= link_to 'Registrar Comunidad Ahora!', signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
