<%= provide(:titulo, 'Home') %>
<br />
<div class="row">
	<br />
	<div id="slogan" class="span12 center">
		<h1>Administra, Comunica y Participa mas fácil</h1>
	</div>
</div>
<br />
<div class="row">
	<div class="span12 center">
		<%= image_tag "cloudapolis-600x403.png", class: "center"  %>
	</div>
</div>
<br />
<div class="row">
	<div class="span12 center">
		<h1>Registra tu comunidad gratis y prueba 45 dias!!!</h1>
		<%= link_to 'Registrar Comunidad Ahora!', signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
