<%= provide(:titulo, 'Home') %>
<div class="center hero-unit">
<h1>Bienvenido a Comunidad Manager</h1>
<h3>Comunidad manager es la mejor y mas completa 
	solucion on-line para administracion de comunidades</h3>

<ul>
	<li>Cuentas claras para todos</li>
	<li>Acceso on-line para administradores y usuarios</li>
	<li>Reservas de instalaciones on-line</li>
	<li>Reclamos y foros de votaci&oacute;n</li>
	<li>Calendario de actividades</li>
	<li>Recordatorios y Cobros por e-mail</li>
</ul>

<p>Registra tu comunidad y obten 30 dias de prueba gratis!!!</p>

<%= link_to 'Registrate Ahora!', signup_path, class: "btn btn-large btn-primary" %>

</div>

