<%= provide(:titulo, 'Home') %>
<br />
<div class="row-fluid">
	<br />
	<div id="slogan" class="span12 center">
		<h1>Administraci&oacute;n, Comunicaci&oacute;n
			y Participaci&oacute;n, <br> m&aacute;s f&aacute;cil y transparente
			en la nube :)</h1>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span12 center">
		<%= image_tag "cloudapolis-600x403.png", class: "center"  %>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span12 center">
		<h1>Registra tu comunidad gratis y prueba 45 dias!!!</h1>
		<%= link_to 'Registrar Comunidad Ahora!', signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
