<% if @comunidad.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			El formulario contiene <%= pluralize(@comunidad.errors.count, "error") %>.
    	</div>
    	<ul>
    		<% @comunidad.errors.full_messages.each do |msg| %>
      			<li>* <%= msg %></li>
    		<% end %>
    	</ul>
  	</div>
<% end %>