<% if @feed_posts.any? %>
	<div class="posts-on-board">
		<table class="table">
	    	<%= render partial: 'shared/feed_post', collection: @feed_posts %>
	  	</table>
	  	<%= will_paginate @feed_posts %>
	  	<div class="clear"></div>
	</div>
<% end %>