<% provide(:titulo, 'Nuevo tipo de unidad') %>
<div class="page-header">
	<h1>Nuevo Tipo de unidad</h1>
</div>

<%= render 'form' %>
<%= link_to 'Tipos de unidad', comunidad_tipounidads_path(@comunidad) %>