<%= #render 'modal_autorizar_unidades' 
%>
<div class="profile-content">	
	<div class="row-fluid">
		<div class="span8 profile-simple">
			<h2>Permisos de usuario <%= @usuario.nombre %></h2>
		</div>
		<div class="span4 profile-actions">
			<% if current_user.administrador?(current_comunidad) or current_user.system_admin? %>
				<a data-toggle="modal" href="#modalAutorizarUnidades" class="btn btn-small btn-primary">
				<i class="icon-plus-sign icon-white"></i> Autorizar comunidad</a>
			<% end %>
		</div>
	</div>
</div>