<% if current_user.administrador?(current_comunidad) or current_user.system_admin? or current_user == @usuario %>
<div class="edit-it">
	<div class="row-fluid">
		<% if current_user == @usuario %>
			<%= link_to 'Editar mi perfil', edit_usuario_path(@usuario) %>
		<% else %>
			<%= link_to 'Editar esta persona', edit_usuario_path(@usuario) %>
		<% end %>
	</div>	
</div>
<% end %>

<% if @comunidads.count > 1 %>
<div class="module-header">
	<div class="row-fluid">
		<h3>Comunidades autorizadas</h3>
	</div>
</div>
<div class="module-body">
	<div class="row-fluid">
		<ul>
		<% @comunidads.each do |comunidad| %>
			<li><%= comunidad.nombre %></li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>