<%= render 'modal_autorizar_unidades' %>
<div class="row-fluid profile-header">	
	<div class="span10">
		<h2>Viviendas o unidades autorizadas a <%= @usuario.nombre %></h2>
	</div>
	<div class="span2 ar">
		<% if current_user.administrador? or current_user.system_admin? %>
			<a data-toggle="modal" href="#modalAutorizarUnidades" class="btn btn-primary">
			<i class="icon-plus-sign icon-white"></i> Autorizar unidad</a>
		<% end %>
	</div>
</div>