<div id="permisos_form">
	<% if current_comunidad.administrador?(usuario) %>
		<%= render 'autorizar_administrador', usuario: usuario %>
	<% else %>
	   	<%= render 'autorizar_administrador', usuario: usuario %>
	<% end %>
</div>