<% provide(:titulo, 'Usuarios') %>
<div class="row-fluid">
	<div class="side-left">
		<%= render 'comunidads/menu_comunidad' %>
	</div>
	<div class="content-layout">
		<div class="content-wrapper">
			<div class="profile-header">
				<!-- informacion del perfil -->
				<%= render 'usuarios_header' %>
			</div>
			<div class="content">
				<div class="row-fluid">
					<!-- columna de contenidos -->
					<div class="span12">
						<%= render 'usuarios' %>
					</div>
					<!-- columna de modulos right -->
					<!--
					<div class="span3 right-module-col">
						<%= #render 'usuarios_module_col' 
						%>
					</div>
					-->
				</div>		
			</div>
		</div>
	</div>
</div>