<% provide(:titulo, @usuario.email) %>
<div class="row-fluid">
	<div class="side-left">
		<%= render 'menu_usuario' %>
	</div>	
	<div class="content-layout">
		
			<div class="two_columns_page_layout clearfix">
				<div class="content-wrapper party">
					<div class="primary">
						<div class="profile-header">
							<%= render 'profile_header' %>
						</div>
						<div class="content">
							<div class="row-fluid">
								<!-- columna de contenidos -->
								<div class="span12">
									<%= render 'notas' %>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="sidebar">
					<div class="row-fluid">
							<%= render 'show_module_col' %>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
		
	</div>
</div>