<% provide(:titulo, @usuario.email) %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'comunidads/menu_comunidad' %><br />
		<%= render 'menu_usuario' %>
	</div>	
	<div class="span10">
		<div class="content-wrapper">
			<!-- informacion del perfil  -->
			<%= render 'profile_header' %>

			<div class="row">
					<div class="span10">
						<div class="tabbable">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">Unidades autorizadas</a></li>
						  	</ul>
						  	<div class="tab-content">
							    <div class="tab-pane active" id="tab1">
							    	<%= render 'unidades_autorizadas' %>
							    </div>
						  	</div>
						</div>
					</div>
				</div><br />
		</div>
	</div>
</div>