<% provide(:titulo, @usuario.nombre) %>
<div class="row-fluid">
	<div class="content-layout">
		<div class="span10 offset2">
			<div class="content-wrapper">
				<div class="profile-header">
					<!-- informacion del perfil -->
					<%= render 'comunidades_autorizadas_header' %>
				</div>
				<div class="content">
					<div class="row-fluid">
						<!-- columna de contenidos -->
						<div class="span12">
							<div class="alert alert-info">
								<a class="close" data-dismiss="alert" href="#">×</a>  			Selecciona abajo la comunidad que quieres utilizar
							</div>
							<%= render 'comunidades_autorizadas' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>