<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a cloudapolis.com, <%= @usuario.nombre %></h1>
    <p>
      Has creado exitosamente la cuenta para tu
comunidad <%= @usuario.comunidad.nombre %> en cloudapolis.com, 
ahora tu has sido asignado como administrador y puedes acceder
con tu nombre de usuario: <%= @usuario.email %>.<br/>
    </p>
    <p>
      Para logearte al sitio, solo sigue el siguiente
link: <%= @url %>.
    </p>
    <p>Gracias por unirte y ten un gran dia!</p>
  </body>
</html>