<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a cloudapolis.com, <%= @usuario.nombre %></h1>
    <p>
      Se ha creado exitosamente tu cuenta de usuario para tu
comunidad "<%= @usuario.comunidad.nombre %>" en cloudapolis.com, 
ahora puedes acceder con tu email: <%= @usuario.email %> y tu password.<br/>
    </p>
    <p>
      Si necesitas ayuda por favor escribenos a cloudapolis@magrocode.com o llamanos
      en chile al +56-2-688-3010 y con gusto te atenderemos.
    </p>
    <p>Gracias por unirte a cloudapolis.com y ten un gran dia!</p>
  </body>
</html>