<div class="modal hide" id="modalAutorizarUsuarios">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
    	<h3>Autorizar Usuarios</h3>
    	<div class="clear"></div>
 	</div>
 	<div class="modal-body">
 		<table class="table">
 			<thead>
				<tr>
					<th>Usuario</th>
					<th></th>
				</tr>
			</thead>
			<% @comunidad.usuarios.each do |usuario| %>

				<% unless usuario.unidad_autorizada?(@unidad) %>
					<tr>
						<td>
							<%= usuario.nombre %> 
							<% if usuario.administrador? %>
								<span class="label">
									Administrador
								</span>
							<% end %>
						</td>
						<td>
							<%= render 'autorizar_usuario', usuario: usuario %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
 	</div>
 	<div class="modal-footer">
    	<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
  	</div>
</div>