<%= render 'modal_vincular' %>
<ul class="unstyled">
	<% @unidad.vinculadas.each do |vinculada| %>
	<li>
		<%= link_to vinculada.identificador, vinculada %>
		<% if !vinculada.tipounidad.nil? %>
			<span class="label"><%= vinculada.tipounidad.nombre %></span>
		<% end %>
	</li>
	<% end %>
</ul>
<a data-toggle="modal" href="#modalVincularUnidades" class="btn btn-small">Vincular</a>
