<% provide(:titulo, 'Editando unidad') %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_unidad' %>
	</div>
	<div class="span8">
		<div class="content-wrapper">
			<div class="profile-header">
				<div class="profile-content">
					<div class="row-fluid">
						<h2>Editando vivienda o unidad</h2>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row-fluid">
					<div class="span12">
						<%= render 'form' %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>