<% provide(:titulo, 'Editando unidad') %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_unidad' %><br />
		<%= render 'menu_unidads' %>
	</div>
	<div class="span10">
		<div class="content-wrapper">
			<div class="page-header">
				<h1>Editando unidad</h1>
			</div>
			<div class="row">
				<div class="span4">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>