<% provide(:titulo, 'Nueva unidad') %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'comunidads/navbar_configuracion' %>
	</div>
	<div class="span8">
		<div class="content-wrapper">
			<div class="row-fluid profile-header">
				<h2>Creando nueva vivienda o unidad</h2>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>