<% provide(:titulo, @unidad.identificador) %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_unidad' %>
	</div>
	<div class="span10">
		<div class="content-wrapper">
			<div class="profile-header">
				<!-- informacion del perfil -->
				<%= render 'usuarios_autorizados_header' %>
			</div>
			<div class="content">
				<div class="row-fluid">
					<!-- columna de contenidos -->
					<div class="span12">
						<%= render 'usuarios_autorizados' %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>