<% provide(:titulo, @unidad.identificador) %>
<div class="row-fluid">
	<div class="span2">
		<%= render 'menu_unidad' %>
	</div>
	<div class="span10">
		<div class="content-wrapper">
			<!-- informacion del perfil -->
			<%= render 'usuarios_autorizados_header' %>

			<div class="row-fluid">
				<!-- columna de contenidos -->
				<div class="span12">
					<%= render 'usuarios_autorizados' %>
				</div>
			</div>
		</div>
	</div>
</div>