.align-top {
	vertical-align: top;
}

#profile-table {

  td {
      /* padding-top: 10px; */
      /* padding-bottom: 10px; */
      vertical-align: top;
      /* border-top: 1px solid $grayMediumLight; */
  }
}

.form_in_table {
	margin-bottom: 0px;
}