$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.align-top {
	vertical-align: top;
}

#profile-table {

  td {
      /* padding-top: 10px; */
      /* padding-bottom: 10px; */
      vertical-align: top;
      /* border-top: 1px solid $grayMediumLight; */
  }
}

.form_in_table {
	margin-bottom: 0px;

	&input[type="submit"] {
		margin-bottom: 2px;
	}
}

/* Base */
.side-left {
  float:left;
  width: 220px;
}
.content-layout {
  width: 980px;
  float: left;
}

.content-wrapper {
  padding: 0px;
  background-color: white;
  border: solid 1px #D8D8D8;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  @include box_sizing;

  &.party {
    padding: 0px;
    background: white url(layout/party_sidebar_background.png) repeat-y right top;
    /* min-height: 756px; */
    min-width: 756px;
  }
}

.two_columns_page_layout {
  padding-right: 252px;

  div.primary {
    float: left;
    width: 100%;
    border-right: 1px solid $grayMediumLight;
  }

  div.sidebar {
    float: left;
    width: 215px;
    padding: 15px 18px;
    margin-right: -252px;
  }
}

.clearfix {
  display: block;
}

.content {
  padding: 20px;
}

.profile-content {
  padding: 15px 20px 10px; 
}


/* encabezado de perfiles */
.profile-header {
  padding-bottom: 0px;
  border-bottom: 1px solid $grayMediumLight;
  margin-bottom: 0px;
  background-color: #FFFBF3;

  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;

  &.primary {
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;    
  }
}


/* info de contacto en perfiles */
.profile-info-contacto {
  padding-left: 15px;
  margin-left: 0px;
  li {
    margin-bottom: 5px;
  }
}

.profile-info {
  margin-left: 0px;
  padding-right: 10px;
  border-right: 1px solid #ebebeb;
  height: 100%;
}

.profile-simple {
  margin-left: 0px;
  padding-right: 10px;
  /* border-right: 1px solid #ebebeb;*/
  height: 100%;
}

.profile-actions {
    float: right;
    text-align: right;
}


.module-header {
  display: block;
  margin-bottom: 10px;
  clear:both;
  background-color: #D5E5FF;
  width: 229px;
  margin-left: -19px;
  padding: 5px 5px 2px 18px;


  h3 {
    font-size:100%;
    font-weight:normal;    
    color: #777;
    width: 100%;
  }
}

.module-body {
  margin-bottom: 15px;
}

.edit-it {
  padding: 10px 5px 10px 0px;
  margin-bottom: 15px;
}