@import "bootstrap";
@import "custom-bootstrap";
@import "custom-icons";
@import "custom-layouts.css.scss";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/*
 .navbar-inner {
  //@navBarBgStart: #3D368B;
  //@navBarBgEnd: #232051; 
  background-image: -webkit-linear-gradient(top,  darkgreen, darkgreen );
} */
/*
.navbar .nav li a  {
  color: lightgray;
}*/


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px; 
  height: 100%;
  /* font-family: "lucida grande", "tahoma", "verdana", "arial", sans-serif;  */
  /* font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; */
  letter-spacing: 0px; 

  font-size: 12px;
  line-height: 1.28;

  unicode-bidi: embed;
}

.body-app {
  background-color: #EBEBEB;
}

#wrap { 
  min-height: 100%;
}

#main {
  overflow: visible;
  padding-bottom: 180px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul {
  list-style-position: inside;
  li {
    
  } 
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  /* font-size: 1.7em; */
  font-size: 22px;
  letter-spacing: -1px; 
  margin-bottom: 5px; 
  /* text-align: center; */
  font-weight: bolder;
  text-shadow: 0px;
  small {
    font-size: 75%;
    font-weight: bolder;
  }
}

h2 {
  /* font-size: 1.4em; */
  font-size: 17px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  /* text-align: left; */
  float:left;
  /* text-transform: uppercase; */
  /* text-shadow:#FFFFFF 1px 1px 0;   */
  text-shadow: 0px;
  font-weight: bolder;
  /* color: $gray;*/ 
  color: #003366;
}

h3 {
  /* font-size: 1.2em; */
  font-size: 15px;
  letter-spacing: 0px;
  margin-bottom: 5px;
  /* text-align: left; */
  float:left;
  /* text-transform: uppercase; */
  /* text-shadow:#FFFFFF 1px 1px 0;  */
  text-shadow: 0px;
  font-weight: bolder;
  color: $gray;
  clear: right;
}

p {
  /* font-size: 1em; */
  font-size: 13px; 
  line-height: 1.7em;
}




/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  /* font-family: "Comic Sans", "Comic Sans MS", cursive;*/
  color: white;
  /* text-transform: uppercase; */
  /* letter-spacing: -1px;*/
  padding-top: 8px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inner-white #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  /* font-family: "Comic Sans", "Comic Sans MS", cursive;*/
  color: #0197fd;
  /* text-transform: uppercase; */
  /* letter-spacing: -1px;*/
  padding-top: 8px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #0197fd;
    text-decoration: none;
  }
}

/* footer */

#footer-bottom {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear: both;
  padding: 0;
  background: url(cloudapolis-600x403.png) top repeat-x;
}

footer {

  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 35;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  /* font-family: "lucida grande", "tahoma", "verdana", "arial", sans-serif;  */
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: 32px;
  margin-bottom: 15px;
  @include box_sizing;
}

label, input, button, select, textarea {
  /* font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-family: "lucida grande", "tahoma", "verdana", "arial", sans-serif;  */
  font-size:13px;
  font-weight:normal;
  line-height:18px;
}

#error_explanation, #errorExplanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors,
.form-horizontal .field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.form-horizontal .controls {
  margin-left:200px;
}

.form-horizontal .form-actions {
  padding-left:200px;
}

.form-horizontal .control-group > label, 
.form-horizontal .field_with_errors > label, 
.form-horizontal .field_with_errors > label {
  float:left;
  padding-top:5px;
  text-align:right;
  width:180px;
  font-weight: bold;
}

/* tablas */
table small {
  color:#999999;
  font-size:11px;
}

table .align-top {
  vertical-align: top;
  /* vertical-align: baseline/sub/super/top/text-top/middle/bottom/text-bottom/length/%; */
}

/* Alineacion */ 
.ar {
  text-align: right;
}


/* Base */
.content-wrapper {
  padding: 20px;
  background-color: white;
  
  @include box_sizing;
}


.clear {
  clear: both;
}

/* indicador small */
.small-indicator {
  color:#999999;
  font-weight: bold;
  font-size:10px;
}

/* span menu */
.menu-spacer   {
  line-height: 1.7;
  /* font-size: 12px;*/
  /* font-weight: bolder;*/
  text-shadow:#FFFFFF 1px 1px 0; 
  clear: both;
}

.nav-list-m {
  margin-bottom:0;
  padding-left:0px;
  padding-right:0px;
}


.nav-list-m .nav-header {
  color: #999;
  font-size:100%;
  font-weight:bold;
  line-height:2;
  padding-bottom: 10px;
  /* text-transform:uppercase; */
}

.border-left {
  border-left: 1px solid $grayMediumLight;
}

.border-right {
  border-right: 1px solid $grayMediumLight;
}

/* columnas de modulos */
.row-fluid .right-module-col {
  margin-left: 0px;
  padding-left: 2%;
  border-left: 1px solid $grayMediumLight;
}



/* encabezado de perfiles */
.profile-header {
  padding-bottom: 15px;
  border-bottom: 1px solid $grayMediumLight;
  margin-bottom: 20px;
}

.module-header {
  display: block;
  margin-bottom: 10px;
  clear:both;

  h3 {
    font-size:100%;
    font-weight:bold;
    line-height:2;
    color: #999;
    width: 100%;
    padding-bottom: 5px;
  }
}

/* Labelinfo */
.label-info {
  text-transform: capitalize;
  letter-spacing: 0px;
}


/* sortable  */
.current {
  font-weight: bold;
  padding-left: 16px;
  &.desc {
    background: url(icons/sort-desc-gray.png) no-repeat;
  }

  &.asc {
    background: url(icons/sort-asc-gray.png) no-repeat;
  }
}