
.icono-email {
	background-image:url(icons/email.png);
}

.icono-twitter {
	background-image:url(icons/twitter.png);
}

.icono-telefono {
	background-image:url(icons/phone.png);	
}

[class^="icono-"] {
	background-size: 14px;
  	background-position: 0px 0px;
  	background-repeat: no-repeat no-repeat;
  	display: inline-block;
  	height: 14px;
  	vertical-align: text-top;
  	width: 14px;
}

.icono {
    /* background-size: 14px; */
    /* background-position: 0px 0px; */
    /* background-repeat: no-repeat no-repeat; */
    display: inline-block;
    height: 14px;
    vertical-align: text-top;
    width: 14px;
}

.icono16 {
    /* background-size: 14px; */
    /* background-position: 0px 0px; */
    /* background-repeat: no-repeat no-repeat; */
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
}

.icono32 {
    /* background-size: 14px; */
    /* background-position: 0px 0px; */
    /* background-repeat: no-repeat no-repeat; */
    display: inline-block;
    height: 32px;
    vertical-align: text-top;
    width: 32px;
}