// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table .tr-post {
	padding-top: 20px;
	padding-bottom: 20px;

}

.text-post {
	margin-bottom: 5px;
}