// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom";

/* Gravatar */ 
.gravatar {
  float: left;
  margin-right: 10px;
  
  &.mini {
    margin-right: 5px;
  }
}

/* usuarios index */

.usuarios {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* modulo tabla de usuarios administrador */
#tabla-usuarios-admin {

  td {
      /* padding-top: 10px; */
      padding-bottom: 10px;
      vertical-align: top;
      /* border-top: 1px solid $grayMediumLight; */
  }
}

.tabla-usuarios {
    tr {
      &:hover {
      }
    }
}

#password-controls {
  /* display: none; */
}