<% provide(:titulo, 'Editando comunidad')%>

<div class="row-fluid">
	<div class="span2">
		<%= render 'navbar_configuracion' %>
	</div>
	<div class="span8">
		<div class="content-wrapper"> 
			<div class="row-fluid profile-header">
				<h2>Editando comunidad</h2>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<%= render 'form_edit' %>
				</div>
			</div>
		</div>
	</div>
</div>