<% provide(:titulo, @comunidad.nombre)%>
<h1><%= @comunidad.nombre %></h1>

<div class="row">

</div>

<div class="row">	
	<div class="span2 offset5">
		<h2><%= @comunidad.unidads.count()%><br />
		<small><%= link_to 'Unidades', comunidad_unidads_path(@comunidad) %></small></h2>
  	</div>
  	<div class="span2">
  		<h2>30<br /><small><%= link_to 'Usuarios', new_comunidad_usuarios_path(@comunidad)%></small></h2>
  	</div>
  	<div class="span2">
  		<h2>8<br /><small><a href="#">Instalaciones</a></small></h2>
  	</div>
</div>
