<footer>
		<small>
			<a href="http://magrocode.com/">MagroCode&copy;</a>		
		</small>
		<nav>
			<ul>
				<li><%= link_to "Acerca de", '#' %></li>
				<li><%= link_to "Contacto", '#' %></li>
				<li><a href="http://blog.magrocode.com/">Blog</a></li>
			</ul>
		</nav>
</footer>
